{% extends 'consultorio/home/home.html' %}
      {% block content %}

        <div class="row">
        <div class="left"><br>
        <h5 class="light">Listado de consultas</h5>
        </div>

        <div class="right"><br>
        </div>
        </div>

        <div class="row">
        <div class="col s12">
        <div class="card hoverable z-depth-2">
        <table class="centered highlight responsive-table">
        <thead class="light-blue darken-1 white-text">
        <tr>
        <th>Paciente</th>
        <th>Analisis</th>

        <th></th>

        </tr>
        </thead>

        <tbody>
        {% for c in con %}
        <tr>
        <td>{{c.paciente_id}}</td>
        <td>{{c.analisis_id}}</td>

        <td>
        </td>

        </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </div>
      

      {% endblock content %}
